name: Tests

on:
  push:
    branches: [main]
    tags-ignore: ['v*']
  pull_request:

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod
          cache: true

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: internal/dashboard/web/package-lock.json

      - name: Build frontend
        working-directory: internal/dashboard/web
        run: |
          npm ci
          npm run build

      - name: Run tests
        run: |
          go mod tidy
          make test

      - name: Run vulnerability check
        run: |
          go install golang.org/x/vuln/cmd/govulncheck@v1.1.4
          govulncheck ./...
